.body{
    font-family: 'Poppins', sans-serif;

}
.h1{
    font-size: 40px;

}
.name-highlights{
    color:red;
}
.half-width{
    width: 40%;
    height: 80%;
    float: left;
    margin-left: 5%;
    padding-left: 3%;

}
.half-width img{
    width: 80%;
    
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,lightSalmon,tomato);
    padding: 10px 20px;
     border-radius: 10px;
     color: white;
     font-weight: 700;

}
section{
    height: 500px;
    padding-bottom: 100px;

}
h2{
    text-align: center;
}

    

.new-width-1{
    width: 25%;
    height: 60%;
    margin-left:6%;
    padding left: 2%;
    
    
    float: left;

}
.new-width-2{
    width: 25%;
    height: 60%;
    margin-left:6%;
    padding left: 2%;
    
    float: left;

}
.new-width-3{
    width: 25%;
    height: 60%;
    margin-left: 6%;
    padding left: 2%;
    
 
    float: left;

}
.new-width-1 img{
    width: 60%;
    float: left;
}
.new-width-2 img{
    width: 60%;
    float: left;
}
.new-width-3 img{
    width: 60%;
    float: left;
}

.fourth-picture{
    background-image: url(images/Group_33094_1.png);
    background-repeat: no-repeat;
    background-size: 70%;
    margin-left: 22%;
    margin-top: 15%;
    padding-left: 3%;
    padding-top: 2%;
    margin-bottom: 0;
}
.ff{
    padding-top: 4%;
    margin-left: 50%;
}
#gg{
    margin-right: 0;
}
.single-experiance{
    box-shadow: 10px 10px 40px gray;
}
footer p{
    text-align: center;
}